*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.App {
  text-align: center;
  height: 1000vh;
  position: relative;
}

.bubbles {
  height: 100%;
}

.bubble {
  width: 0px; height: 0px;
  position: absolute;
}

.bubble > div {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  border-radius: 999px;
  width: 250px;
  height: 250px;
  background: rgba(255,0,255,0.8);
  display: block;
  overflow:hidden;
  transition: transform 500ms cubic-bezier(0.000, 0.985, 0.450, 0.995); /* custom */
  overflow: visible;
}

.bubble > div.grow {
  transform: translateY(-50%) translateX(-50%) scale(1);
}

.bubble > div > input {
  position: absolute;
  left:-9999px;
}

.bubble > div > p {
  letter-spacing: -1px;  
  position: absolute;
  top: 50%; left: 50%;
  color: white;
  font-size: 30px;
  margin: 0;
  transform: translateY(-50%) translateX(-50%) scale(1);
  width: 210px;
  max-height: 210px;
  overflow: initial;
  word-wrap: break-word;
  line-height: 35.1px;
}

#colour {
  position: fixed;
  width: 4vh; height: 4vh;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
